body {
  white-space: pre;
  font-family: monospace;
  background-color: #22272e;
  color: #abb2bf;
  font-size: 14px;
}

li {
  margin-bottom: 1px;
}

.property {
  font-weight: bold;
}

.type-null {
  color: gray;
}

.type-boolean {
  color: #96d0ff;
}

.type-number {
  color: #c678dd;
}

.type-string, a {
  color: #e5c07b;
}

.callback-function {
  color: gray;
}

.collapser:after {
  content: "-";
}

.collapsed > .collapser:after {
  content: "+";
}

.ellipsis:after {
  content: " … ";
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: rgba(235, 238, 249, 1);
  // background-color: #39404a;
  background-color: #2d333b;
}

.selected {
  outline-style: solid;  
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}